/* 比較画面モーダルのテーブルスタイル */

/*TODO:空行にはホバーをあてない？
.table_list1 TableRow:filled:hover{
	-fx-background-color: #f0d0d0;
}*/

#diffTable_wrapper tr{
    height: 20px;
    font-size: small;
}

/* 3割負担 */
#diffTable_wrapper.burden30Per .table-striped>thead>tr,
#diffTable_wrapper.burden30Per .table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #e1fdff;
}
#diffTable_wrapper.burden30Per .table-striped>tbody>tr:nth-child(even)>td {
   background-color: #f0ffff;
}
#diffTable_wrapper.burden30Per .table-striped>tbody>tr:hover>td {
   background-color: #d0f0ef;
}

/* 2割負担 */
#diffTable_wrapper.burden20Per .table-striped>thead>tr,
#diffTable_wrapper.burden20Per .table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #f7ffe1;
}
#diffTable_wrapper.burden20Per .table-striped>tbody>tr:nth-child(even)>td {
   background-color: #fbfff0;
}
#diffTable_wrapper.burden20Per .table-striped>tbody>tr:hover>td {
   background-color: #e3f0d0;
}
/* 1割負担 */
#diffTable_wrapper.burden10Per .table-striped>thead>tr,
#diffTable_wrapper.burden10Per .table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #ffe4e1;
}
#diffTable_wrapper.burden10Per .table-striped>tbody>tr:nth-child(even)>td {
   background-color: #fff0f0;
}
#diffTable_wrapper.burden10Per .table-striped>tbody>tr:hover>td {
   background-color: #f0d0d0;
}

#diffTable > thead > tr > th.col1,
#diffTable > tbody > tr > td.col1 {
    text-align: left;
    width: 30%;
}
#diffTable > thead > tr > th.col2,
#diffTable > tbody > tr > td.col2 {
    text-align: left;
    width: 40%;
}
#diffTable > thead > tr > th.col3,
#diffTable > tbody > tr > td.col3 {
    text-align: left;
    width: 30%;
}