/*
薬剤容量編集画面のスタイル
*/

/*容量変更領域表組設定 */
#dosage_edit_tbl {
    display:table; 
}
#dosage_edit_tbl .row {
    display:table-row;
}
#dosage_edit_tbl .row > div.th {
    display:table-cell;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
#dosage_edit_tbl .row > div.td {
    display:table-cell;
    text-align: right;
    vertical-align: middle;
    padding-right: 15px; 
}
#dosage_edit_tbl .row > div.td.td_input {
    text-align: center; 
    padding-right: 5px; 
    padding-left: 5px; 
}

/*使用薬剤変更テーブル設定*/
#recipeEditTable.table {
    margin-bottom: 20px;
}
#recipeEditTable tr{
    font-size: small;
}
#recipeEditTable > thead > tr > th {
    text-align: left;
    background-color: #cccccc
}

#recipeEditTable > thead > tr > th.col1,
#recipeEditTable > tbody > tr > td.col1 {
    width: 7%;
    text-align: center;
}
#recipeEditTable > thead > tr > th.col2,
#recipeEditTable > tbody > tr > td.col2 {
    width: 53%;
}
#recipeEditTable > thead > tr > th.col3,
#recipeEditTable > tbody > tr > td.col3 {
    width: 25%;
}
#recipeEditTable > thead > tr > th.col4 {
    width: 15%;
}
#recipeEditTable > tbody > tr > td.col1 {
    text-align: center;
}
#recipeEditTable > tbody > tr > td.col2 {
    text-align: left;
}
#recipeEditTable > tbody > tr > td.col3 {
    text-align: left;
}
#recipeEditTable > tbody > tr > td.col4 {
    text-align: right;
}

/* チェックボックス選択行のスタイル */
table.dataTable > tbody > tr.selected {
    background-color: #33ffe2;
}

table.dataTable > tbody > tr > th.dt-body-center,
table.dataTable > tbody > tr > td.dt-body-center {
  text-align: center;
}