/*
薬剤容量編集画面のスタイル
*/

/*容量変更領域表組設定 */
#dosage_edit_tbl {
    display:table; 
}
#dosage_edit_tbl .row {
    display:table-row;
}
#dosage_edit_tbl .row > div.th {
        display:table-cell;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
#dosage_edit_tbl .row > div.td {
        display:table-cell;
    text-align: right;
    vertical-align: middle;
    padding-right: 15px; 
}
#dosage_edit_tbl .row > div.td_input {
        display:table-cell;
    text-align: center; 
    vertical-align: middle;
    
}

/*使用薬剤変更テーブル設定*/
#recipeEditTable.table {
    margin-bottom: 20px;
}
table.recipe_edit .table tr{
    font-size: small;
}
table.recipe_edit .table > thead > tr > th {
    text-align: left;
}
/*#recipeEditTable > tbody > tr > td {
    padding: 5px 5px;
}*/
table.recipe_edit .table > thead > tr > th.col1,
table.recipe_edit .table > tbody > tr > td.col1 {
    width: 10%;
}
table.recipe_edit .table > thead > tr > th.col2,
table.recipe_edit .table > tbody > tr > td.col2 {
    width: 55%;
}
table.recipe_edit .table> thead > tr > th.col3,
table.recipe_edit .table > tbody > tr > td.col3 {
    width: 25%;
}
table.recipe_edit .table > thead > tr > th.col4 {
    width: 15%;
}
table.recipe_edit .table > tbody > tr > td.col1 {
    text-align: center;
}
table.recipe_edit .table > tbody > tr > td.col2 {
    text-align: left;
}
table.recipe_edit .table > tbody > tr > td.col3 {
    text-align: left;
}
table.recipe_edit .table > tbody > tr > td.col4 {
    width: 15%;
    text-align: right;
}