<input type="hidden" id="hdnRecipeId" value="{{data_recipe.id}}" />
<div class="row">
    <div class="col-md-12">
        <h5 style="text-align: left;text-decoration: underline">容量</h5>
        <table class="dosage_edit">
            <tbody>
                <tr>
                    <th class="col1">現在の容量</th>
                    <th class="col2">設定後の容量</th>
                    <th class="col3">初期値</th>
                </tr>
                <tr>
                    <td class="col1"><span>{{base_dosage_label}}</span></td>
                    <td class="col2"><input type="text" id="txtInputDosage" class="form-control text-right" size="5" value="{{data_recipe.dosage_str}}"/></td>
                    <td class="col3"><span>{{default_dosage_label}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 style="text-align: left;text-decoration: underline">使用薬剤変更</h5>
    </div>
</div>
                
