<div class="row">
    <div class="col-md-12">
        <!-- START:Debug用ローカルストレージ初期化＆再リロード-->
        <button id="btnDebugReload" type="button" class="btn btn-danger">Debug用ローカルストレージ初期化＆再リロード</button>
        <!-- END:Debug用ローカルストレージ初期化＆再リロード-->
    </div>
</div>